!!! 5
%html
  %head
    %title Gennady Evstratov
    

  %body{:style => "width: 900px; margin-left: auto; margin-right: auto; text-align: left"}
    %header
      %div{:style=>"float:right"}
        email: 
        %a{:href => "mailto:g.evstratov@gmail.com"}g.evstratov@gmail.com
        %br/
        phone: 050 959 00 71
      %h1{:style => "display: inline"} Gennady Evstratov
      %hr{:noshade => true} 

    %content{:style => "clear: both"}
      %h1 Senior Software Engineer
      %h2 Profile
      %p Accomplished senior software engineer specializing in complex approaches to software, architecture and platform development for embedded and desktop systems. Extensive background in full life-cycle of software research and development process including requirements gathering, design, coding, testing, team management, debugging, inter-teams communications/cooperations and maintenance. Fluent in Russian and English. Strengths include:
      %ul
        %li Hard worker, can work in stressfull situations and under constant deadline pressure.
        %li Out-of-the-box thinker.
        %li Fast learner and passionate about new tech.
        %li Team and project management.
        %li Software analysis, profiling and refactoring.
       
      %h2 Technical skills
      %ul
        %li{:style => "clear: both"}
          %div{:style => "float: right; width: 550px"}
            Java, Objective-C, Python
          Major Languages
        %li{:style => "clear: both"}
          %div{:style => "float: right; width: 550px"}
            Ruby, Clojure, Scala, JS, Shell, C, C++
          Minor Languages
        %li{:style => "clear: both"}
          %div{:style => "float: right; width: 550px"}
            JEE Stack, TestNG, Struts 1.x
            %br/
            UIKit, CoreAnimation, Quartz, OpenGL, OCUnit
            %br/
            web.py, Rails, Sinatra, RSpec, Cucumber
            %br/
            QT
          Frameworks/Stacks
        %li{:style => "clear: both"}
          %div{:style => "float: right; width: 550px; clear: both"}
            JDK 1.4+
            %br/
            iOS 2.0+
            %br/
            Android 1.5+
          Platforms
        %li{:style => "clear: both"}
          %div{:style => "float: right; width: 550px; clear: both"}
            Can use: Linux, Mac OS X
            %br/
            Can do administration: Linux, Mac OS X
          Operating systems
        %li{:style => "clear: both"}
          %div{:style => "float: right; width: 550px"}
            Editors/IDE: Emacs, XCode, IntelliJ IDEA, Eclipse, QT Creator.
            %br/
            VCS: Git, SVN, CVS.
            %br/
            Other: Basecamp, Lighthouse, JIRA, Redmine, Mantis. 
          Tools
      %h2{:style => "clear: both" } Professional history
      %h3 iPhone/Android developer (2009-), contract job
      %p Worked with a series of customers developing iPhone and Android applications. Developed over 30 applications in total in last 18 months.
      %p 
        Some of the applications
        %ul
          %li
            %a{:href=>"http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewArtistSeeAll?dkId=11&ids=328263237&softwareType=iPhone"} casual games
          %li 
            %a{:href=>"http://itunes.apple.com/us/app/quo/id420879958?mt=8"} face features detection and analysis
          %li 
            %a{:href=>"http://itunes.apple.com/us/app/id408648085?mt=8"} official app for F5 newspaper
      %h3 Smartlabs, LLC, Moscow, Russian Federation (2007-2010), SSE  
      %p SmartLabs LLC is a leader in service delivery platform (SDP) for interactive digital television (IPTV, DVB, hybrid, satellite, Internet TV), innovative client applications and user interfaces for STBs, OSS/ BSS systems, and other innovative solutions for service providers and enterprises. SmartLabs LLC is a member of ITG group of companies. http://smartlabs.tv
      %p 
        Work performed:
        %ul
          %li Design and development of IPTV solution backend and it's data structures. This backend is high-load distributed system, which handles around 2000 requests per second.
          %li Design and development of the custom extremly high speed and lightweight ORM solution.
          %li Choosing and setting up environment for the IPTV backend, which included fine-tuning and patching memcached, nginx and writing maintainence scripts.
          %li Developing and setting up custom system for building and deploying the application to the end users. Desing and development of a iPhone remote control applications for STB devices.
          %li For some time managed small group of developers and engineers.
      
      %h3 Medical software developer (2008-2009), contract job
      %p Medical software developer (2008-), contract job
      %p 
        Work done:
        %ul
          %li Gathered requrements from the client and built up a software specifications out of them. 
          %li Designed UI for the software, presented it to the customer.
          %li Designed db schema and developed UI.
          %li Provided techical support for the software.

      %h3 Netris JSC (2006-2007), SSE
      %p Design and development of an application for automation of business processes of one of the biggest russian telecom operators. It was implemented in java with use of the following technologies: servlets, jsp, web-services, jms, hibernate, ejb (stateless session beans). It was deployed inside JBossAS, Oracle was used for data storage.
      %p This application is still used without any significant changes.

      %h3 CTI JSC (2003-2006), SE/SSE
      %p Design and development of framework for other company's projects. It was 3tier framework for RAD written in java on top of hibernate and servlet/jsp and was used in internal projects mostly.

      %h3 CBOSS (2002-2003), JSE
      %p Design, analysis and application development using Servlets, Beans, JDBC, JSP with Oracle as database, IntelliJ IDEA as the IDE. I was on the team that designed, customized and implemented CBOSS3t SDK, the framework that allows rapid development of multi tier applications.

      %h3 Contractor (1998-2002)
      %p 
        Contractor for various companies. Main responsibilities were
        %ul
          %li Developing web-sites using PHP and MySQL
          %li Installation and support of server-side software (Linux, mail services, network services)

      %h2 Education
      %h3 Moscow State University (2000-2003)
      %p Studied the department of mathematics and mechanics. Left after 3.5 years due to personal reasons.
      
    %footer
      %hr{:noshade => true}
      %div{:style=>"float:right"}
        email: 
        %a{:href => "mailto:g.evstratov@gmail.com"}g.evstratov@gmail.com
        %br/
        phone: 050 959 00 71
      %h1{:style => "display: inline"} Gennady Evstratov
